extends _layout
block content
	.main__content
		.main__block
			.container-fluid
				.skys__block
					img.skys__item._pos-top-high._move-right-slow(src="img/sky/sky_1.png", alt="")
					img.skys__item._pos-top-middle._move-left-middle(src="img/sky/sky_2.png", alt="")
					img.skys__item._pos-bottom-high._move-left-slow(src="img/sky/mini_sky_1.png", alt="")
					img.skys__item._pos-bottom-down._move-right-fast(src="img/sky/mini_sky_2.png", alt="")
				.main__block-inner
					h1.title._color-white._font-normal НАШИ ПРЕИМУЩЕСТВА
					ul.advantages__main-list
						li.advantages__main-list-item
							span.advantages__main-list-image.wow.fadeInDown
							p.advantages__main-list-text.wow.fadeInUp Наша компания является экспертом рынка предоставления услуг «Виртуального офиса» и мы первая компания в России, которые начали предоставлять услугу «Виртуального Офиса»
						li.advantages__main-list-item
							span.advantages__main-list-image.wow.fadeInDown
							p.advantages__main-list-text.wow.fadeInUp  Наша компания обладает лицензиями ФСБ на работу с шифровальными (криптографическими) средствами и все наши специалисты обладают дипломами и сертификатами 1С, что подтверждает их высокий профессиональный уровень и грамотный подход в работе
						li.advantages__main-list-item
							span.advantages__main-list-image.wow.fadeInDown
							p.advantages__main-list-text.wow.fadeInUp Мы единственная компания в России, которая предоставляет такой широкий комплекс услуг и программ (многие программы которые установлены на серверах писались, и разрабатывались собственными программистами)
						li.advantages__main-list-item
							span.advantages__main-list-image.wow.fadeInDown
							p.advantages__main-list-text.wow.fadeInUp Мы предоставляем не только ITуслуги, но и готовы обучить Ваш персонал программам 1С, а также можем провести курсы по продажам
						li.advantages__main-list-item
							span.advantages__main-list-image.wow.fadeInDown
							p.advantages__main-list-text.wow.fadeInUp Мы одна из не многих компаний, которые предлагают собственный выделенный сервер для каждой компании
						li.advantages__main-list-item
							span.advantages__main-list-image.wow.fadeInDown
							p.advantages__main-list-text.wow.fadeInUp  Наши сервера отвечают самым высоким требованиям, которые предъявляют в работе к ним ведущие специалисты в сфере IT
						li.advantages__main-list-item
							span.advantages__main-list-image.wow.fadeInDown
							p.advantages__main-list-text.wow.fadeInUp  Наши сервера находятся в лучших ДАТА Центрах Германии (по оценке экспертов), что исключает пресловутый России человеческий фактор
						li.advantages__main-list-item
							span.advantages__main-list-image.wow.fadeInDown
							p.advantages__main-list-text.wow.fadeInUp Наши специалисты могут подъехать в офис заказчика для полного аудита компьютерных станций клиент
		.universal__block._top-bg._bg-white
			.container-fluid
				h2.title._marg ПРЕИМУЩЕСТВА ТЕХНОЛОГИИ
				.advantages__technology-block
					h3.advantages__technology-title.wow.fadeInDown Мобильность
					ul.advantages__technology-list._red-list-style
						li.advantages__technology-item.wow.slideInLeft
							p.advantages__technology-item-title Доступ к информации на сервере в любое время и в любом месте, с любого устройства с выходом в интернет
							p.advantages__technology-item-text Где бы Вы и Ваши сотрудники ни находились: дома, на даче, в командировке, на отдыхе, на больничном, — вся необходимая информация будет всегда доступна, для этого необходимо иметь при себе любое устройство с выходом в интернет.
						li.advantages__technology-item.wow.slideInRight
							p.advantages__technology-item-title Возможность печати документов на ближайшем принтере, подключение USB-носителей и других локальных ресурсов
							p.advantages__technology-item-text Где бы Вы ни находились, Security Server позволит Вам распечатывать документы как на ближайшем принтере, так и на принтере в офисе. Также возможна установка на сервере рабочих USB-ключей (банк-клиент, консультант + и т.д.)
						li.advantages__technology-item.wow.slideInLeft
							p.advantages__technology-item-title Возможность объединения удаленных офисов и сотрудников в единую локальную сеть
							p.advantages__technology-item-text Security Server позволяет легко организовать совместную работу нескольких рабочих мест или офисов, вне зависимости от их месторасположения, не прикладывая к этому никаких усилий.
						li.advantages__technology-item.wow.slideInRight
							p.advantages__technology-item-title Сохранение сеанса работы при его прерывании
							p.advantages__technology-item-text В случае сбоя, обрыва связи или вынужденного закрытия сеанса, он остается в текущем состоянии на сервере. Таким образом, вы сможете продолжить работу с момента обрыва сеанса на любом компьютере.
				.advantages__technology-block
					h3.advantages__technology-title.wow.fadeInDown Экономность
					ul.advantages__technology-list._viol-list-style
						li.advantages__technology-item.wow.slideInLeft
							p.advantages__technology-item-title Экономия средств на закупку серверного оборудования
							p.advantages__technology-item-text При использовании Security Server у Вас нет необходимости в затратах на приобретение серверного оборудования, его настройку и постоянный контроль за ним.
						li.advantages__technology-item.wow.slideInRight
							p.advantages__technology-item-title Экономия на зарплате системному администратору
							p.advantages__technology-item-text Мы предоставляем Вам личного системного администратора, который на протяжении всего срока договора будет отвечать на все вопросы по работе сервера, программного обеспечения и устранять все неполадки.
						li.advantages__technology-item.wow.slideInLeft
							p.advantages__technology-item-title Экономия на закупку дорогостоящего лицензионного программного обеспечения
							p.advantages__technology-item-text Security Server позволяет отказаться от затрат на дорогостоящее ПО. Мы установим на сервер любое программное обеспечение, необходимое для Вашей повседневной работы.
						li.advantages__technology-item.wow.slideInRight
							p.advantages__technology-item-title Экономия средств на приобретение для офиса производительных рабочих станций
							p.advantages__technology-item-text Security Server позволяет осуществлять доступ к серверу абсолютно с любого компьютера, вне зависимости от его технических характеристик, главное — наличие доступа к интернету.
						li.advantages__technology-item.wow.slideInLeft
							p.advantages__technology-item-title Учет рабочего времени сотрудников
							p.advantages__technology-item-text Это программа, которая позволит получить полный контроль над рабочим временем сотрудников и соблюдением трудовой дисциплины. Полная информация о посещении сотрудниками сайтов, не связанных с работой; их простои в работе; длительность обеденных перерывов. 
							p.advantages__technology-item-text Вы узнаете, когда, как долго, насколько активно пользователь работал с той или иной программой. Подробное описание к каждой из запущенных пользователем программ. Узнаете, какой процент времени заняла работа с каждой из программ.
				.advantages__technology-block
					h3.advantages__technology-title.wow.fadeInDown безопасность
					ul.advantages__technology-list._green-list-style
						li.advantages__technology-item.wow.slideInLeft
							p.advantages__technology-item-title Вы полностью застрахованы от всех форс-мажорных ситуаций
							p.advantages__technology-item-text Наши Data-центры отвечают современным требованиям противопожарной безопасности. Доступ к ним имеют только несколько технических специалистов с электронными ключами, поэтому вы будете полностью застрахованы от всех форс-мажорных ситуаций (пожар, наводнение, сбой электричества, проверка компетентных органов).
						li.advantages__technology-item.wow.slideInRight
							p.advantages__technology-item-title Полное шифрование информации при ее передачи на сервер
							p.advantages__technology-item-text Канал передачи данных с компьютера на сервер (с сервера на компьютер) будет надежно защищен несколькими программами, взломать которые невозможно.
						li.advantages__technology-item.wow.slideInLeft
							p.advantages__technology-item-title Возможность разграничения прав доступа сотрудников к файлам и папкам
							p.advantages__technology-item-text Мы автоматически устанавливаем программное обеспечение, которое позволяет по Вашему желанию четко определить права доступа к файлам и папкам каждому сотруднику. А также в целях предотвращения утечки информации ПО позволяет заблокировать USB-порты, DVD-приводы компьютеров, копирование отдельных папок, печать документов и т.д.
						li.advantages__technology-item.wow.slideInRight
							p.advantages__technology-item-title Хранение информации на сервере в зашифрованном виде
							p.advantages__technology-item-text Вся размещенная на сервере информация хранится полностью в зашифрованном виде и будет доступна только вам по паролю. Ее невозможно будет получить, даже имея жесткий диск с сервера.
						li.advantages__technology-item.wow.slideInLeft
							p.advantages__technology-item-title Защита от вирусных и хакерских атак
							p.advantages__technology-item-text На сервере устанавливается современное антивирусное программное обеспечение, которое защищает информацию Вашей компании как от внешних, так и от внутренних злоумышленников.
						li.advantages__technology-item.wow.slideInRight
							p.advantages__technology-item-title Ежедневное резервное копирование
							p.advantages__technology-item-text Мы производим ежедневное резервное копирование всей Вашей информации. Данная процедура полностью защищает данные от сбоев техники, случайных действий пользователей и злоумышленников. Копии находятся в архиве в течение месяца, а также хранятся на 2-х дополнительных резервных серверах (в целях 100% сохранности информации).
				.advantages__compare
					a.btn._compare.fancybox(href="#compare") Сравнение серверов
					// таблица сравнения серверов
					#compare.compare__block
						table.compare__table
							thead
								tr
									th Сервисы
									th Базовый
									th Бизнес
									th Корпора-<br>тивный
							tbody
								tr
									td Персональный сервер
									td._have 
									td._have
									td._have
								tr
									td Печать документов на ближайший принтер
									td._have
									td._have
									td._have
								tr
									td Неограниченный объем памяти на жестком диске
									td._have 
									td._have
									td._have
								tr
									td Неограниченный интернет трафик 
									td._have 
									td._have
									td._have
								tr
									td Офисное ПО (Word, Excel, Power Point,Outlook) 
									td._have 
									td._have
									td._have
								tr
									td 1С бухгалтерия (любой версии)
									td._have 
									td._have
									td._have
								tr
									td Установка дополнительного ПО (необходимого для вашей работы) 
									td._not-have-red 
									td._have
									td._have
								tr
									td Криптографическая защита сервера
									td._have 
									td._have
									td._have
								tr
									td Антивирусное ПО на сервере
									td._have 
									td._have
									td._have
								tr
									td Техническая поддержка сервера
									td._have 
									td._have
									td._have
								tr
									td Техническая поддержка в режиме "24/7"
									td._not-have-red
									td._not-have-red
									td._have
								tr
									td Техническая поддержка 1С  (ограниченная 4 часами работы в месяц) 
									td._not-have-ruby
									td._have
									td._not-have-ruby
								tr
									td Техническая поддержка 1С (без ограничений)
									td._not-have-red
									td._not-have-red
									td._have
								tr
									td ПО для шифрование информации на сервере (личный пароль для доступа к жесткому диску) 
									td._not-have-ruby
									td._have
									td._have
								tr
									td ПО для разграничения прав доступа к файлам, папкам, usb носителям, принтерам и т.д. 
									td._not-have-red
									td._have
									td._have
								tr
									td ПО учета рабочего времени сотрудников на сервере (для контроля за работой сотрудников)
									td._not-have-ruby
									td._have
									td._have
								tr
									td ПО для шифрования канала передачи данных (с вашего компьютера на сервер)
									td._not-have-red
									td._have
									td._have
								tr
									td Система управления взаимоотношениями с клиентами (CRM) и система автоматизации бизнеса.
									td._not-have-ruby
									td._have
									td._have
								tr
									td Ежедневное резервное копирование данных 
									td._have
									td._have
									td._have
								tr
									td Хранение резервных копий на дополнительных серверах (расположенных в Европе и Москве)
									td._not-have-ruby
									td._have
									td._have
								tr
									td Доставка всех копий на внешнем носителе
									td._have
									td._have
									td._have
								tr
									td Личный системный администратор
									td._not-have-ruby
									td._have
									td._have
								tr
									td Личный менеджер
									td._have
									td._have
									td._have
							tfoot
								tr
									td Ежемесячная абонентская плата на 5 пользователей
									td 
										p.compare__price 8700 руб
										a.compare__link-order(href="#") Заказать
									td 
										p.compare__price 10200 руб
										a.compare__link-order(href="#") Заказать
									td
										p.compare__price 11700 руб
										a.compare__link-order(href="#") Заказать
								tr
									td Ежемесячная абонентская плата от 5 до 10 пользователей
									td 
										p.compare__price 13300 руб
										a.compare__link-order(href="#") Заказать
									td 
										p.compare__price 15800 руб
										a.compare__link-order(href="#") Заказать
									td
										p.compare__price 18300 руб
										a.compare__link-order(href="#") Заказать
								tr
									td Ежемесячная абонентская плата больше 10 пользователей
									td 
										p.compare__price 21000 руб
										a.compare__link-order(href="#") Заказать
									td 
										p.compare__price 26000 руб
										a.compare__link-order(href="#") Заказать
									td
										p.compare__price 31000 руб
										a.compare__link-order(href="#") Заказать
					// конец таблица сравнения серверов
		.universal__block._bg-dark-blue-graph._top-bg-dark-blue 
			.container-fluid
				h2.title._marg._color-white ПРЕИМУЩЕСТВА ДЛЯ ДИРЕКТОРА
				p.advantages__text Услуга "Виртуальный офис" все больше набирает популярность среди руководителей компаний, потому что позволяет сделать работу офиса более удобной и мобильной, а так же поможет сэкономить деньги компании. Основные преимущества, которые получит ваш бизнес, заключается в следующем:
				ul.advantages__manager-list
					li.advantages__manager-item.wow.zoomInLeft
						p.advantages__manager-title._mobile Мобильность
						p.advantages__manager-text Благодаря тому, что с документами и базами 1С компании можно работать даже из дома, <strong>сотрудники компании всегда будут на связи</strong>, они всегда смогут вовремя сделать отчеты, и подготовить необходимые документы для работы.
					li.advantages__manager-item.wow.zoomInRight
						p.advantages__manager-title._econom экономичность
						p.advantages__manager-text Экономия заключается не только в том, что Вы не тратитесь на покупку лицензионного ПО и самого сервера, но и в самом сервисе - <strong>наши специалисты абсолютно бесплатно проконсультируют Вас и Ваших сотрудников</strong> в работе связанных с 1С или по всем интересующим Вас вопросам в работе с сервером.
					li.advantages__manager-item.wow.zoomInLeft
						p.advantages__manager-title._safety Безопасность
						p.advantages__manager-text Информация Вашей компании, останется только Вашей! Благодаря тому, что <strong>базы и документы Вашей компании НЕ хранятся в офисе</strong>, Вы уже застрахованы от «маски шоу», так же в случае потери, или некорректного введения данных, ваши сотрудники всегда смогут вернуться на день назад и продолжить работу с необходимого места, т.к мы делаем ежедневное резервное копирование всей Вашей информации. 
					li.advantages__manager-item.wow.zoomInRight
						p.advantages__manager-title._comfort удобство
						p.advantages__manager-text Вы всегда <strong>сможете проконтролировать работу Ваших сотрудников! С помощью специальной программы</strong>, Вы сможете посмотреть, сколько времени и с какими программами работает Ваш сотрудник, какие порталы посещает, так же Вы сможете разграничить все права доступа сотрудников до файлов и папок, заблокировать USB порты и DVD приводы, сможете поставить запрет на копирование, удаление или печать документов. 
		.universal__block._bg-blue._top-bg-blue
			.container-fluid
				h2.title._marg._color-white ПРЕИМУЩЕСТВА ДЛЯ БУХГАЛТЕРА
				p.advantages__text Зачастую у бухгалтеров бывает ненормированный рабочий день, есть необходимость присутствия в офисе у клиента.. А если бухгалтер ведет не одну компанию? И нужно в один день начислить заработную плату всем сотрудникам из разных компаний? И, не дай бог, не успеть это сделать, что тогда? Все останутся без оклада, персонал расстроен, генеральный директор в бешенстве.. Эти, и многие другие вопросы станут для Вас легко решаемыми с виртуальной бухгалтерией.
				.advantages__booker-block
					p.advantages__text._sizeL Чем поможем бухгалтеру:
					ul.advantages__booker-list
						li.advantages__booker-item.wow.fadeInUp(data-wow-delay="0.1s")
							span.advantages__booker-item-img._econom-time
							p.advantages__booker-title Сэкономим<br>время!
							p.advantages__booker-text Работать с базами 1С можно удаленно, даже из дома Работать с базами 1С можно круглосуточно, нет необходимости задерживаться в офисе для работы с базами - это можно сделать в удобное для Вас время. 
						li.advantages__booker-item.wow.fadeInUp(data-wow-delay="0.4s")
							span.advantages__booker-item-img._safety
							p.advantages__booker-title Обезопасим<br>Ваши базы!
							p.advantages__booker-text Базы 1С не хранятся в офисе, тем самым Вы застрахованы от «маски шоу» Доступ к базам 1С только у Вас - никто кроме Вас, не сможет просмотреть Ваши документы. Ежедневное резервное копирование данных - всегда можно вернуться на день назад, в случае некорректного введения данных или потери документов.
						li.advantages__booker-item.wow.fadeInUp(data-wow-delay="0.7s")
							span.advantages__booker-item-img._econom-cash
							p.advantages__booker-title Сэкономим<br>средства!
							p.advantages__booker-text Аренда программ 1С - не нужно приобретать дорогостоящее лицензионное ПО. Бесплатные консультации наших специалистов в работе с 1С, в случае возникновения вопросов, связанных с работой в 1С – наши специалисты всегда проконсультируют Вас удаленно. 
					p.advantages__text._uppercase Вывод:
					p.advantages__text Почти 70% бухгалтеров уже перешли на удаленную бухгалтерию, обезопасили базы данных, и естественно, сэкономили свое личное время. Если Вы еще ведете бухгалтерию на локальном компьютере, и не знаете, как обезопасить «личную» информацию, то «Виртуальная Бухгалтерия» - это то, что Вам нужно!
		.clients__section
			.container-fluid
				h3.title нам доверяют
				.clients__slider-wrap
					ul.clients__slider-list
						li.clients__slider-item
							img.clients__slider-img(src="img/content/company_list_1.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_2.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_3.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_4.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_5.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_6.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_7.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_8.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_9.png", alt="")
				img.clients__img(src="img/man.png", alt="")