extends _layout
block content
	.main__content
		.main__block
			.container-fluid
				.skys__block
					img.skys__item._pos-top-high._move-right-slow(src="img/sky/mini_sky_1.png", alt="")
					img.skys__item._pos-top-middle._move-left-middle(src="img/sky/mini_sky_2.png", alt="")
					img.skys__item._pos-bottom-high._move-left-slow(src="img/sky/sky_1.png", alt="")
					img.skys__item._pos-bottom-middle._move-right-fast(src="img/sky/sky_2.png", alt="")
				h1.main__title._marg готовые решения
				ul.main__menu-category-list
					li.main__menu-category-item
						a.main__menu-category-link.active._min-width(href="javascript:void(0);") Для бухгалтерских<br>компаний
					li.main__menu-category-item
						a.main__menu-category-link._min-width(href="javascript:void(0);") Для торговых<br>компаний 
					li.main__menu-category-item
						a.main__menu-category-link._min-width(href="javascript:void(0);") Для<br>стартаперов
				.circle__block
					span.circle__item._accounting.active.wow.zoomIn(data-wow-delay="0.1s" data-wow-offset="10")
					span.circle__item._trade.wow.zoomIn(data-wow-delay="0.3s")
					span.circle__item._startup.wow.zoomIn(data-wow-delay="0.5s" data-wow-offset="10")
					.circle__block-text
						p.circle__text._sizeL.active Для бухгалтерских компаний
							a.circle__link(href="#") Далее
						p.circle__text._sizeL Для торговых компаний 
							a.circle__link(href="#") Далее
						p.circle__text._sizeL Для стартаперов
							a.circle__link(href="#") Далее
		.universal__block._top-bg-up
			.container-fluid
				p.universal__text Готовые решения – за 9 лет работы мы накопили огромный опыт работы с различными видами бизнеса, что позволило нам разработать решения, отвечающие основным требованиям ведения бизнеса в той или иной сфере. На данный момент мы готовы предложитьготовые решения для таких компаний как: бухгалтерские, юридические, транспортные, оптовые компании и вэд, розничные сети магазинов, а так же решения для тех компаний, которые только начали свою деятельность, для которых важно вести свою деятельность, без высоких вложений.
		.universal__block._bg-gray
			.container-fluid
				.skys__block
					img.skys__item._pos-top-high._move-left-slow(src="img/sky/mini_sky_4.png", alt="")
					img.skys__item._pos-top-middle._move-right-middle(src="img/sky/sky_4.png", alt="")
				.universal__text-block.pull-right.wow.slideInRight(data-wow-duration="1s")
					span.universal__upper-text Готовое решение 
					h2.subtitle для бухгалтерских компаний
					p На сервере  будут установлены программы 1С (нужной Вам версии) , программы MS Office (Word, Excel, Outlook и др.), а так же есть возможность установить дополнительные программы, такие как: системы сдачи электронной отчетности, Консультант плюс и многие другие бухгалтерские  программы.    
					p В стоимость входит ежедневное резервное копирование баз (всегда можно вернуться на один день или неделю назад, в случае неккоректно веденных данных), администрирование 1С, консультации в работе с 1С, и обновление баз 1С.
					.universal__price-block
						p.universal__price от 0.000 рублей
						a.btn._order(href="#") Заказать
				img.universal__img._pos-left._top.wow.slideInLeft(src="img/all_in1.png", alt="" data-wow-duration="1s")
				.clear
		.universal__block
			.container-fluid
				.skys__block
					img.skys__item._pos-top-high._move-right-slow(src="img/sky/mini_sky_5.png", alt="")
					img.skys__item._pos-top-middle._move-left-middle(src="img/sky/sky_5.png", alt="")
				.universal__text-block.wow.slideInLeft(data-wow-duration="1s")
					span.universal__upper-text Готовое решение 
					h2.subtitle для торговых компаний
					p Специалисты нашей компании помогут подобрать Вам торговое оборудование (кассы, считыватели, принтеры и сканеры и пр.) Произведут настройки и подключат оборудование к нашему серверу. Так же программысты 1С создадут (при необходимости) переферийную (общую) базу, подключат к базе 1С склад, розничные магазины и офис. Полностью автоматизируют весь процесс работы. 
					p При этом, Вам нет необходимости покупать дорогие линзии на программы, наша компания предоставляет все ПО в аренду.
					.universal__price-block
						p.universal__price от 0.000 рублей
						a.btn._order(href="#") Заказать
				img.universal__img._pos-right._top.wow.slideInUp(src="img/all_in2.png", alt="" data-wow-duration="1s")
		.universal__block._bg-gray
			.container-fluid
				.skys__block
					img.skys__item._pos-top-middle._move-left-middle(src="img/sky/mini_sky_4.png", alt="")
					img.skys__item._pos-top-high._move-right-middle(src="img/sky/sky_4.png", alt="")
				.universal__text-block.pull-right.wow.slideInRight(data-wow-duration="1s")
					span.universal__upper-text Готовое решение 
					h2.subtitle СтартАп
					p Если Ваш бизнес только стоит на пути открытии, то данное решение именно для Вас. Вам не нужно преобретать новые и мощные рабочие станции, так Вам необходим лишь доступ к серверу, вся работа будет происходить на виртуальном сервере, вся нагрузка идет на сервер, не на Ваш компьютер. Так же Вам не нужно покупать программы и лицензии, все программы мы предоставляем в аренду.                                     Так как бизнес только открывается или недавно стал действовать, важно понимать трудозатраты компании.. Вам не нужно нанимать на работу системного администратора, вся техническая поддержка уже включена в стоимость услуги. 
					.universal__price-block
						p.universal__price от 0.000 рублей
						a.btn._order(href="#") Заказать
				img.universal__img._pos-left._top.wow.zoomIn(src="img/all_in3.png", alt="" data-wow-duration="1s")
				.clear
		.feedback__section
			.container-fluid
				h3.title._color-white отзывы
				ul.feedback__slider-list
					li.feedback__slider-item
						.feedback__autor-block
							img.feedback__autor-img(src="img/content/feedback.jpg", alt="")
							p.feedback__autor-name Яна
							p.feedback__autor-position Коммерческий директор, оптовая торговля
						.feedback__video-block
							<iframe src="https://www.youtube.com/embed/M_XwzBMTJaM" frameborder="0" allowfullscreen></iframe>
					li.feedback__slider-item
						.feedback__autor-block
							img.feedback__autor-img(src="img/content/feedback.jpg", alt="")
							p.feedback__autor-name Лена
							p.feedback__autor-position Раздает листовки
						.feedback__video-block
							<iframe src="https://www.youtube.com/embed/M_XwzBMTJaM" frameborder="0" allowfullscreen></iframe>