extends _layout
block content
	.main__content
		.main__block
			.container-fluid
				.skys__block
					img.skys__item._pos-top-high._move-right-slow(src="img/sky/mini_sky_1.png", alt="")
					img.skys__item._pos-top-middle._move-left-middle(src="img/sky/mini_sky_2.png", alt="")
					img.skys__item._pos-bottom-high._move-left-slow(src="img/sky/sky_1.png", alt="")
					img.skys__item._pos-bottom-down._move-right-fast(src="img/sky/sky_2.png", alt="")
				.main__block-inner
					h1.subtitle._font-pro ХОСТИНГ ПОД 1C
					.article__sidebar
						span.article__date-inner 15.06.2015
						img.article__img(src="img/content/article.jpg", alt="")
						.article__new-article-block
							h3.article__new-article-title Новые статьи
							ul.article__new-article-list
								li.article__new-article-item
									span.article__new-article-date 16.07.15
									a.article__new-article-link(href="#") Хостинг для 1С
								li.article__new-article-item
									span.article__new-article-date 15.07.15
									a.article__new-article-link(href="#") Аренда программного обеспечения
								li.article__new-article-item
									span.article__new-article-date 14.07.15
									a.article__new-article-link(href="#") Аренда программного обеспечения Аренда программного обеспечения
								li.article__new-article-item
									span.article__new-article-date 13.07.15
									a.article__new-article-link(href="#") Хостинг для 1С
							.article__new-article-footer-list
								a.article__new-article-link-more(href="#") Все статьи
					.article__content
						p Планируете использовать в работе своей компании программное обеспечение 1С? В этом случае оптимальным вариантом будет аренда необходимых вам программ, размещенных на удаленном сервере, вместе с такой услугой, как хостинг под 1C. При выборе нужно обращать внимание на ряд факторов, которые будут оказывать влияние на сохранность вашей информации, ее доступность и другие параметры. Рассмотрим эти факторы.
						p Действительно качественный и ориентированный на клиента хостинг для 1C также должен обладать еще рядом качеств. И касается это перечня услуг, которые предоставляются заказчику. 
						span И перечень это должен быть следующим: 
						ul
							li бесплатный перенос данных клиента на сервер и настройка оборудования; 
							li бесплатные услуги по организации резервного копирования данных; 
							li обновление ПО (как серверного, так и используемого вами) силами поставщика услуг; 
							li обновление ПО (как серверного, так и используемого вами) силами поставщика услуг; 
						h3 Хостинг 1C: в России или за рубежом 
						p Для многих важным параметром, влияющим на выбор хостинга для 1C, является географическое размещение дата-центра, в котором находится серверное оборудование. 
						span Здесь есть два варианта: 
						ul
							li бесплатный перенос данных клиента на сервер и настройка оборудования; 
							li бесплатные услуги по организации резервного копирования данных; 
						p Первый вариант дает вам такие преимущества, как возможность оперативно решить все возникающие вопросы со службой поддержки, которая находится «под боком». Второй выбирают, чаще всего, по той причине, что в этом случае данные клиента намного лучше защищены от проникновения извне, инсайдерских взломов и пр. Также хостинг для 1C за рубежом – это нахождение оборудования вне юрисдикции разнообразных государственных органов и служб, со всеми вытекающими. 
						p В общем, оба варианта имеют право на жизнь, и пользуются спросом примерно в одинаковой степени. 
						p Первый вариант дает вам такие преимущества, как возможность оперативно решить все возникающие вопросы со службой поддержки, которая находится «под боком». Второй выбирают, чаще всего, по той причине, что в этом случае данные клиента намного лучше защищены от проникновения извне, инсайдерских взломов и пр. Также хостинг для 1C за рубежом – это нахождение оборудования вне юрисдикции разнообразных государственных органов и служб, со всеми вытекающими. 
						p В общем, оба варианта имеют право на жизнь, и пользуются спросом примерно в одинаковой степени. 
		.universal__block._top-bg
			.container-fluid
				.article__changer-block
					a.article__changer-link._prev(href="#") Предыдущая статья
					a.article__changer-link._next(href="#") Следующая статья