extends _layout
block content
	.main__content
		.main__block
			.container-fluid
				h1.main__title облачные технологии
				h2.main__subtitle для вашего бизнеса
				ul.main__menu-category-list
					li.main__menu-category-item
						a.main__menu-category-link.active(href="javascript:void(0);") Аренда сервера 1с
					li.main__menu-category-item
						a.main__menu-category-link(href="javascript:void(0);") Виртуальный рабочий стол
					li.main__menu-category-item
						a.main__menu-category-link(href="javascript:void(0);") аренда рабочего места
					li.main__menu-category-item
						a.main__menu-category-link(href="javascript:void(0);") Облако для бизнеса
					li.main__menu-category-item
						a.main__menu-category-link(href="javascript:void(0);") готовые решения
				.circle__block
					a.circle__item._server-rent.active(href="javascript:void(0);")
					a.circle__item._virtual-desktop(href="javascript:void(0);")
					a.circle__item._desktop-rent(href="javascript:void(0);")
					a.circle__item._sky(href="javascript:void(0);")
					a.circle__item._all-in(href="javascript:void(0);")
					.circle__block-text
						p.circle__text.active Выделенный удаленный сервер с набором стандартных офисных программ, CRM систем и программ 1C
						p.circle__text Выделенный удаленный 
						p.circle__text Выделенный удаленный сервер 
						p.circle__text Выделенный удаленный сервер с набором 
						p.circle__text Выделенный удаленный сервер с набором стандартных 
		.universal__block._gradient._top-bg
			.container-fluid
				h2.subtitle._bold Как работают услуги и сервисы нашей компании
				.universal__text-block.pull-right._half
					img(src="img/percent.png", alt="")
					p При работе с облачными технологиями не накладывается никаких ограничений на вашу работу, создается полная имитация привычного рабочего стола с набором стандартных программ, так необходимых для полноценной работы. Оснонвые нагрузки при вычислении переносятся в облако, тем самым сокращая расходы на приобретение нового оборудования и его администрирование. 
					p Облачные технологии  – это значительная экономия средств, повышение мобильности и эффективности работы компании и максимальная надежность и безопасность для всей конфиденциальной информации.
				.universal__video-block._pos-left
					<iframe src="https://www.youtube.com/embed/M_XwzBMTJaM" frameborder="0" allowfullscreen></iframe>
		.universal__block._top-bg
			.container-fluid
				h1.title сколько стоят услуги и сервисы
				.universal__text-block
					h2.subtitle Аренда сервера 1с
					p Аренда сервера 1С (VDI - Virtual Desktop Infrastructure) – это удаленный сервер, находящийся в лучших дата-центрах Европы или России, с установленными программами 1С необходимой для вас конфигурации, системами CRM, банк-клиент и офисными программами MS Office и т.д.  В стоимость Аренды сервера 1С входит: удаленный сервер, перенос данных на сервер, настройка компьютеров и оборудования в вашем офисе, лицензии программ 1С и MS Office, а так же  техническая поддержка сервера и пользователей вашей компании. Это безопасное и надежное решение для вашего бизнеса, которое позволяет сократить расходы на оборудование, лицензионный софт и системных администраторах, которые это все обслуживают
					.universal__price-block
						p.universal__price от 0.000 рублей
						a.universal__price-link(href="#") Подробнее
				img.universal__img._pos-right(src="img/server.png", alt="")
		.universal__block._bg-gray
			.container-fluid
				.universal__text-block.pull-right
					h2.subtitle виртуальный рабочий стол
					p Виртуальный рабочий стол (DaaS - Desktop as a Service)  – вы получаете полностью готовое к работе («под ключ») виртуальное рабочее место, которые вы можете настроить под себя и свои задачи, а так же объединить в сеть несколько виртуальных рабочих мест, тем самым соединить всех сотрудников офиса. Доступ к Виртуальному рабочему столу осуществляется с любого устройства подключенного к сети интернет – компьютер, ноутбук, планшет и даже телефон. В стоимость виртуального рабочего стола включено все необходимое офисное программное обеспечение, перенос ваших данных на сервер и настройка оборудования, техническая поддержка пользователей, а так же ежедневное копирование данных.
					.universal__price-block
						p.universal__price от 0.000 рублей
						a.universal__price-link(href="#") Подробнее
				img.universal__img._pos-left(src="img/virt_desktop.png", alt="")
				.clear
		.universal__block
			.container-fluid
				.universal__text-block
					h2.subtitle облако для бизнеса
					p <strong>Облако для бизнеса</strong> (VDS - Virtual Dedicated Server) – это ваше собственное виртуальное облако, настроенное под ваши требования и условия. Облако для бизнеса отвечает высоким требованиям  безопасности и надежности, так как наша инфраструктура расположена в лучших дата-центрах Европы и России. Специалисты нашей компании произведут все настройки, и предоставят готовое решение специально для Вас и именно под Ваши задачи! Вы платите только за те ресурсы, которые вам необходимы, исходя из количества сотрудников и необходимого программного обеспечения.
					.universal__price-block
						p.universal__price от 0.000 рублей
						a.universal__price-link(href="#") Подробнее
				img.universal__img._pos-right._top(src="img/sky_area.png", alt="")
		.universal__block._bg-gray
			.container-fluid
				.universal__text-block.pull-right
					h2.subtitle Аренда готового рабочего места
					p <strong>Аренда рабочего места</strong> (Тонкий клиент + DaaS) – данная услуга включает в себя аренду рабочего места «под ключ» (тонкий клиент + монитор + клавиатура/мышка) с подключенной нашей услугой Виртуальный рабочий стол, тем самым вы экономите до 20.000 рублей при подключение данной услуги и вам не надо заботиться о том, что сломалось или не работает, так как все обслуживание мы берем на себя. 
					.universal__price-block
						p.universal__price от 0.000 рублей
						a.universal__price-link(href="#") Подробнее
				img.universal__img._pos-left(src="img/desktop_rent.png", alt="")
				.clear
		.universal__block
			.container-fluid
				.universal__text-block
					h2.subtitle готовые решения
					p <strong>Готовые решения</strong> – за 9 лет работы мы накопили огромный опыт работы с различными видами бизнеса, что позволило нам разработать решения, отвечающие основным требованиям ведения бизнеса в той или иной сфере. На данный момент мы готовы предложить готовые решения для таких компаний как: бухгалтерские, юридические, транспортные, оптовые компании и вэд, розничные сети магазинов, а так же решения для тех компаний, которые только начали свою деятельность, для которых важно вести свою деятельность, без высоких вложений. 
					.universal__price-block
						p.universal__price от 0.000 рублей
						a.universal__price-link(href="#") Подробнее
				img.universal__img._pos-right(src="img/all_in_one.png", alt="")
		.argument__section
			.container-fluid
				h3.title._color-white Почему мы?
				.argument__block
					.argument__item
						img.__image(src="img/we1.png", alt="")
						p.argument__text ТЕХНИЧЕСКАЯ ПОДДЕРЖКА 24/7
					.argument__item
						img.__image(src="img/we2.png", alt="")
						p.argument__text ПОЛНАЯ КОНФИДЕНЦИ-АЛЬНОСТЬ
					.argument__item
						img.__image(src="img/we3.png", alt="")
						p.argument__text КАЧЕСТВО УСЛУГ
					.argument__item
						img.__image(src="img/we4.png", alt="")
						p.argument__text БЕСПЛАТНОЕ ОБУЧЕНИЕ
		.feedback__section
			.container-fluid
				h3.title._color-white отзывы
				ul.feedback__slider-list
					li.feedback__slider-item
						.feedback__autor-block
							img.feedback__autor-img(src="img/content/feedback.jpg", alt="")
							p.feedback__autor-name Яна
							p.feedback__autor-position Коммерческий директор, оптовая торговля
						.feedback__video-block
							<iframe src="https://www.youtube.com/embed/M_XwzBMTJaM" frameborder="0" allowfullscreen></iframe>
					li.feedback__slider-item
						.feedback__autor-block
							img.feedback__autor-img(src="img/content/feedback.jpg", alt="")
							p.feedback__autor-name Лена
							p.feedback__autor-position Раздает листовки
						.feedback__video-block
							<iframe src="https://www.youtube.com/embed/M_XwzBMTJaM" frameborder="0" allowfullscreen></iframe>
		.clients__section
			.container-fluid
				h3.title нам доверяют
				.clients__slider-wrap
					ul.clients__slider-list
						li.clients__slider-item
							img.clients__slider-img(src="img/content/company_list_1.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_2.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_3.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_4.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_5.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_6.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_7.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_8.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_9.png", alt="")
				img.clients__img(src="img/man.png", alt="")
		.news__section
			.container-fluid
				h3.title наши новости
				.news__slider-wrap
					ul.news__slider-list
						li.news__slider-item
							img.news__slider-img(src="img/content/company.png", alt="")
							p.news__slider-text Портал предпринимателей Smallbusiness.ru создан в декабре 2009 г. В 2013 году SMALLBUSINESS.RU представляет обновлённую медиа-площадку для развития бизнеса. Посещаемость портала увеличивается с каждым днём. SMALLBUSINESS.RU полюбился и эффективно используется не только молодыми и опытными специалистами, но и зрелыми предпринимателями, талантливыми владельцами и управленцами фирм и компаний. Российские предприниматели считают Портал удобной площадкой для обмена мнениями и развития идей. Некоторые из них называют Портал «Четвёртым измерением бизнеса»!
						li.news__slider-item
							img.news__slider-img(src="img/content/company.png", alt="")
							p.news__slider-text Портал предпринимателей Smallbusiness.ru создан в декабре 2009 г. В 2013 году SMALLBUSINESS.RU представляет обновлённую медиа-площадку для развития бизнеса. Посещаемость портала увеличивается с каждым днём. SMALLBUSINESS.RU полюбился и эффективно используется не только молодыми и опытными специалистами, но и зрелыми предпринимателями, талантливыми владельцами и управленцами фирм и компаний. Российские предприниматели считают Портал удобной площадкой для обмена мнениями и развития идей. Некоторые из них называют Портал «Четвёртым измерением бизнеса»!
						li.news__slider-item
							img.news__slider-img(src="img/content/company.png", alt="")
							p.news__slider-text Портал предпринимателей Smallbusiness.ru создан в декабре 2009 г. В 2013 году SMALLBUSINESS.RU представляет обновлённую медиа-площадку для развития бизнеса. Посещаемость портала увеличивается с каждым днём. SMALLBUSINESS.RU полюбился и эффективно используется не только молодыми и опытными специалистами, но и зрелыми предпринимателями, талантливыми владельцами и управленцами фирм и компаний. Российские предприниматели считают Портал удобной площадкой для обмена мнениями и развития идей. Некоторые из них называют Портал «Четвёртым измерением бизнеса»!