extends _layout
block content
	.main__content
		.main__block
			.container-fluid
				.skys__block
					img.skys__item._pos-top-high._move-right-slow(src="img/sky/sky_1.png", alt="")
					img.skys__item._pos-top-middle._move-left-middle(src="img/sky/sky_2.png", alt="")
					img.skys__item._pos-bottom-high._move-left-slow(src="img/sky/mini_sky_1.png", alt="")
					img.skys__item._pos-bottom-down._move-right-fast(src="img/sky/mini_sky_2.png", alt="")
				.main__block-inner
					h1.title._color-white._font-normal Облако для бизнеса
					.calculate__section
						// окно заказа с калькулятора
						.modal__window#modal_order
							.modal__header
								img.modal__header-logo(src="img/modal_logo.png", alt="")
								p.modal__subtitle Облако<br>для бизнеса
							.modal__body
								form.modal__form(action="#" method="post")
									.modal__body-inner
										label.modal__form-label ФИО:
										input.modal__form-input(type="text" name="name" required)
										label.modal__form-label Телефон:
										input.modal__form-input.mask(type="phone" name="phone" required)
										label.modal__form-label E-mail:
										input.modal__form-input(type="email" name="email" required)
									.modal__body-inner
										label.modal__form-label._widthL Характеристики<br>сервера:
										.modal__characteristics-block
											p.modal__characteristics-title CPU
											span.modal__characteristics-item#cpu_modal 2x2
											span.modal__characteristics-value ГГц
										.modal__characteristics-block
											p.modal__characteristics-title RAM
											span.modal__characteristics-item#ram_modal 16
											span.modal__characteristics-value Гб
										.modal__characteristics-block
											p.modal__characteristics-title HDD
											span.modal__characteristics-item#hdd_modal 200
											span.modal__characteristics-value Гб
										.modal__characteristics-block
											p.modal__characteristics-title IP
											span.modal__characteristics-item#ip_modal 2
											span.modal__characteristics-value шт
									.modal__body-inner
										label.modal__form-label._widthL Дополнительно:
										span.modal__characteristics-extra#ssd_modal SSD диски
										span.modal__characteristics-extra#ddos_modal DDos защита
									.modal__footer
										.modal__total-price-block
											p.modal__total-price 1000
											span.modal__total-price-currency руб/мес.
										input(type="hidden" name="cpu-val")
										input(type="hidden" name="ram-val")
										input(type="hidden" name="hdd-val")
										input(type="hidden" name="ip-val")
										input(type="hidden" name="ssd-val")
										input(type="hidden" name="ddos-val")
										input(type="hidden" name="cost-val")
										input.modal__submit(type="submit" value="заказать")
						// конец окна заказа
						.calculate__sidebar
							input.calculate__checkbox#ddos(type="checkbox")
							label.calculate__checkbox-label(for="ddos") DDos защита
							.calculate__total-price-block
								p.calculate__total-price 1000
								p.calculate__total-price-currency руб/мес
								a.calculate__submit.fancybox(href="#modal_order") Заказать
						.calculate__range-block-wrapper
							.calculate__range-block
								.calculate__range-data
									input.calculate__range-data-input#cpu_amount(type="text" readonly)
									span.calculate__range-data-attr ГГц
								p.calculate__range-title CPU
								#calculate__cpu-range
							.calculate__range-block
								.calculate__range-data
									input.calculate__range-data-input#ram_amount(type="text" readonly)
									span.calculate__range-data-attr Гб
								p.calculate__range-title RAM
									span.calculate__range-text (объём гарантированной оперативной памяти, DDR3 ECC) 
								#calculate__ram-range
							.calculate__range-block
								.calculate__range-data
									input.calculate__range-data-input#hdd_amount(type="text" readonly)
									span.calculate__range-data-attr Гб
								p.calculate__range-title HDD
									span.calculate__range-text (объём жёсткого диска, SAS RAID)
									input.calculate__checkbox#ssd(type="checkbox")
									label.calculate__checkbox-label(for="ssd") SSD диски
								#calculate__hdd-range
							.calculate__range-block
								.calculate__range-data
									input.calculate__range-data-input#ip_amount(type="text" readonly)
									span.calculate__range-data-attr шт
								p.calculate__range-title IP
									span.calculate__range-text (количество IPv4)
								#calculate__ip-range
		.universal__block._top-bg
			.container-fluid
				.description__block-wrapper
					.description__block._bg-blue
						.description__preview
							span.description__preview-img
							p.description__preview-title Установка<br>сервера<br>за 2 минуты
						.description__block-inner-text
							p.description__text Мы ценим Ваше время! Поэтому мы полностью автоматизировали процесс установки виртуальных серверов. Не нужно больше ждать часы или дни когда оператор хостинга заметит Вашу заявку и поставит её себе в очередь на исполнение. Установка происходит online в считанные минуты у Вас на глазах и под Вашим контролем!
					.description__block._bg-dark-blue
						.description__preview
							span.description__preview-img
							p.description__preview-title Гибкая<br>настройка<br>VDS
						.description__block-inner-text
							p.description__text Тут текст
					.description__block._bg-dark-blue
						.description__preview
							span.description__preview-img
							p.description__preview-title Высокая<br>скорость<br>соединения
						.description__block-inner-text
							p.description__text Тут текст
					.description__block._bg-blue
						.description__preview
							span.description__preview-img
							p.description__preview-title Изменение<br>параметров<br>сервера
						.description__block-inner-text
							p.description__text Тут текст
					.description__block._bg-blue
						.description__preview
							span.description__preview-img
							p.description__preview-title Лучшее<br>серверное<br>оборудование
						.description__block-inner-text
							p.description__text Тут текст
					.description__block._bg-dark-blue
						.description__preview
							span.description__preview-img
							p.description__preview-title Самые<br>быстрые<br>SSD диски
						.description__block-inner-text
							p.description__text Тут текст
					.description__block._bg-dark-blue
						.description__preview
							span.description__preview-img
							p.description__preview-title Защита<br>от DDoS<br>до 1.5 Tbps
						.description__block-inner-text
							p.description__text Тут текст
					.description__block._bg-blue
						.description__preview
							span.description__preview-img
							p.description__preview-title Виртуализация<br>Hyper-V
						.description__block-inner-text
							p.description__text Тут текст
					.description__block._bg-blue
						.description__preview
							span.description__preview-img
							p.description__preview-title Лицензия<br>Windows®<br>включена
						.description__block-inner-text
							p.description__text Тут текст
					.description__block._bg-dark-blue
						.description__preview
							span.description__preview-img
							p.description__preview-title Бесплатный<br>тестовый<br>период
						.description__block-inner-text
							p.description__text Тут текст
		.clients__section
			.container-fluid
				h3.title._color-dark-gray нам доверяют
				.clients__slider-wrap
					ul.clients__slider-list
						li.clients__slider-item
							img.clients__slider-img(src="img/content/company_list_1.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_2.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_3.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_4.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_5.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_6.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_7.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_8.png", alt="")
						li.clients__slider-item		
							img.clients__slider-img(src="img/content/company_list_9.png", alt="")
				img.clients__img(src="img/man.png", alt="")