footer.footer
	.container-fluid
		.footer__app-block
			p.footer__info-text Скачать софт для<br>iPhone и Android:
			a.footer__app-link._ios(href="#")
			a.footer__app-link._android(href="#")
		a.footer__logo(href="/")
			img(src="img/footer__logo.png", alt="")
		.footer__info-block
			p.footer__info-text <strong>Адрес:</strong> 107564, Россия, г. Москва, ул. Краснобогатырская, д.2 стр.10,
			p.footer__info-text <strong>Время работы офиса:</strong> с 10.00 до 18.00 
			p.footer__info-text <strong>Тел./факс в Москве:</strong> 8 (495) 648-62-80 
			p.footer__info-text <strong>Звонок по России бесплатный:</strong> 8 (800) 333-13-69 
			p.footer__info-text <strong>E-mail:</strong> info@glserver.ru
		.footer__link-block
			a.footer__link._useful(href="#") Полезное 
			a.footer__link._sitemap(href="#") Карта сайта 
			a.footer__link._check(href="#") Проверить скорость
include _script